@import "tailwindcss";
@import "./assets/fonts/pretendardvariable.css";

@layer base {
  html {
    font-family: "Pretendard Variable", Pretendard, system-ui, sans-serif;
  }
}


/* 대표 색상 지정 */
@theme {
  --color-brown-1: #4e392b;
  --color-brown-2: #8d6e63;
  --color-brown-3: #a68a6d;
  --color-brown-4: #3b2f2f;
  --color-brown-5: #7a5230;
  --color-brown-6: #c1a17a;
}
